/* Fundo da página */
body {
  background-color: #abc3d8;          /* HEX */
  font-family: Arial, sans-serif;
  margin: 24px;
}

/* Título principal */
h1 {
  text-align: center;
  color: rgb(119, 4, 151);            /* RGB */
  font-size: 42px;
}

/* Subtítulo */
h2 {
  text-align: left;
  color: rgb(17, 0, 100);                   /* nome da cor */
  font-size: 28px;
}

/* Parágrafo 1 */
p.intro {
  text-align: justify;
  color: #ac0a56;                     /* HEX */
  font-size: 18px;
}

/* Parágrafo 2 */
p.destaque {
  text-align: right;
  color: rgb(128, 73, 0);            /* RGB (roxo) */
  font-size: 22px;
}
